<nav class="navbar navbar-expand-md d-flex justify-content-end sticky-top mt-4 navbar-dark bg-dark">
            <img src="https://www.michigan.gov/images/som/SOMicon_Education_521974_7.png" alt="logo" class="navbar-brand p-0 float-left-xs" width="60px" height="60px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-md-6 m-auto" id="navbarSupportedContent">
                 <ul class="navbar-nav d-block d-md-none">
                  <li class="nav-item col-md-auto"><a href="/groups" class="nav-link bg-transparent">Список групп</a></li>
                  <li class="nav-item col-md-auto"><a href="/edu" class="nav-link bg-transparent">Расписание</a></li>
                  <li class="nav-item col-md-auto"><a href="/user" class="nav-link bg-transparent">Управление аккаунтами</a></li>
                  <li class="nav-item col-md-auto border border-light"><a href="/logout" class="nav-link bg-transparent">Выход из аккаунта</a></li>
                 </ul>
            </div>
        </nav>

        <nav class="navbar col-md-3 d-none d-md-inline-block sticky-top p-auto mt-4 navbar-dark bg-dark">
          <ul class="nav flex-column">
            <li class="nav-item"><a href="/groups" class="nav-link">
                Список групп
              </a></li>
            <li class="nav-item"><a href="/edu" class="nav-link">
                Расписание
              </a></li>
            <li class="nav-item"><a href="/user" class="nav-link">
                Управление аккаунтами
              </a></li>
            <li class="nav-item"><a href="#" class="nav-link">
                Другое?
              </a></li>
          </ul>
        </nav>