<nav class="navbar navbar-expand-md d-flex justify-content-end sticky-top p-auto mt-4 navbar-dark bg-dark">
            <img src="https://www.michigan.gov/images/som/SOMicon_Education_521974_7.png" alt="logo" class="navbar-brand mr-auto" width="70" height="50">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-md-6" id="navbarSupportedContent">
                 <ul class="navbar-nav mr-4">
                  <li class="nav-item col-md-auto"><a href="/" class="nav-link bg-transparent">Home</a></li>
                  <li class="nav-item col-md-auto"><a href="#" class="nav-link bg-transparent">Price</a></li>
                  <li class="nav-item col-md-auto"><a href="#" class="nav-link bg-transparent">Feedback</a></li>
                  <li class="nav-item col-md-auto border border-light"><a href="/session" class="nav-link bg-transparent">Login</a></li>
                 </ul>
            </div>
        </nav>