<%- include('../layouts/nav.ejs') %>
<div class="container">
  <%- include('../layouts/navBlock.ejs') %>
  <div class="col-md-8 d-inline-block mr-1 mt-4 pb-2 float-right bg-light">
    <%- include('userAddBlock.ejs') %>
  </div>
</div>
<footer class="footer fixed-bottom bg-dark">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
    <script>
      var $ = jQuery.noConflict();
      var trdata = [];
      //обновление при открытии
      $(document).ready(refresh());
      /*
      * функция обновления
      * Очищает таблицу
      * загружает список с сервера
      * вносит данные в таблицу
      */
      function refresh(){
        $('.table').hide();
        $("#table tbody tr").remove();
        let tbody;
        let lastNumber = 0;
        $.get( "/user/list", function( data, err ) {
            data.forEach(function(item){
                tbody = tbody + '<tr>' +
                '<th>'+ lastNumber++ +'</th>' +
                '<td>'+item.name+'</td>' +
                '<td>'+item.surname+'</td>' +
                '<td>'+item.username+'</td>' +
                '<td><span class="btn btn-secondary edit pull-center"><i class="fas fa-edit"></i></span><span class="btn btn-danger minus pull-center"><i class="fas fa-trash-alt"></i></span></td>' +
              '</tr>';
              
            });
            $('.table').append(tbody);
        });
        $('.table').fadeIn(10);
        $("#name").val('');
        $("#surname").val('');
        $("#username").val('');
        $("#password").val('');
      };
      // on - так как элемент динамически создан и обычный обработчик с ним не работает
      $(document).on('click', '.minus', function(){
        let name = $(this).parent().parent().find('td:eq(0)').html();
        let surname = $(this).parent().parent().find('td:eq(1)').html();
        let username = $(this).parent().parent().find('td:eq(2)').html();
        $.get("/csrfToken", function (data, jwres) {
            if (jwres != 'success') { return false; }
            msg = {
              data: 
                {name:name,
                surname:surname,
                username:username,
                },
              _csrf: data._csrf
            };
            $.post("/user/delete", msg, function(data, status){
                if(status=='success'){
                    refresh();
                }else{
                    alert(status);
                }
            });
        });
      });
      /*
      * Добавляет данные в соответствующие поля для изменения
      */
      $(document).on('click', '.edit', function(){
        trdata[0] = $(this).parent().parent().find('td:eq(0)').html();
        trdata[1] = $(this).parent().parent().find('td:eq(1)').html();
        trdata[2] = $(this).parent().parent().find('td:eq(2)').html();
        $("#name").val(trdata[0]);
        $("#surname").val(trdata[1]);
        $("#username").val(trdata[2]);
      });
      /*
      * Отправляет данные на сервер
      */
      $(document).on('click', '.submit', function(){
        $.get("/csrfToken", function (data, jwres) {
            if (jwres != 'success') { return false; }
            msg = {
                data: 
                    {name:trdata[0],
                    surname:trdata[1],
                    username:trdata[2],
                    },
                ndata: 
                    {name:$("#name").val(),
                    surname:$("#surname").val(),
                    username:$("#username").val(),
                    password:$("#password").val(),
                    },
                _csrf: 
                    data._csrf
            };
            $.post("/user/update", msg, function(data, status){
                if(status=='success'){
                    refresh();
                }else{
                    alert(status);
                }
            });
        });
      });
      $('.plus').click(function(){
         $.get("/csrfToken", function (data, jwres) {
            if (jwres != 'success') { return false; }
            msg = {
              data: 
                {name:$('#name').val(),
                surname:$('#surname').val(),
                username:$('#username').val(),
                password:$('#password').val()},
              _csrf: data._csrf
            };
            $.post("/user/create", msg, function(data, status){
                if(data == 'Short password.'){
                    alert('Длина пароля должна быть минимум 5 символов');
                }else{
                  refresh();
                }
            });
          });
      });
</script>
