<form>
<table class="table form-group" id="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Username</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="form-row">
  <div class="form-group col-md">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name">
  </div>
  <div class="form-group col-md">
    <label for="surname">Surname</label>
    <input type="text" class="form-control" id="surname" placeholder="Surname">
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md">
  <label for="username">Username</label>
  <input type="text" class="form-control" id="username" placeholder="123456">
</div>
<div class="form-group col-md">
  <label for="password">Password</label>
  <input type="text" class="form-control" id="password" placeholder="Password">
</div>
</div>
<button type="button" class="btn btn-success plus pull-right">Add..</button>
<button type="button" class="btn submit btn-primary">Submit</button>
</form>