<form>
  <div class="form-check form-check-inline mt-3">
    <input class="form-check-input ml-1" type="radio" name="radio" id="createGroup" value="option1" >
    <label class="form-check-label ml-4" for="createGroup">
      Создание новой группы
    </label>
    <input class="form-check-input ml-4" type="radio" name="radio" id="upgradeGroup" value="option2" checked>
    <label class="form-check-label ml-4" for="upgradeGroup">
      Изменение группы
    </label>
  </div>
<div class="form-group mt-2">
  <label for="gNum">Номер группы</label>
  <select id="gNum" class="form-control">
  </select>
  <input type="number" class="form-control d-none" id="gNumInput" placeholder="4321">
</div>
<div class="border border-secondary">
  <table class="table form-group ml-3" id="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Username</th>
      <th scope="col">Действия</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name">
  </div>
  <div class="form-group col-md-6">
    <label for="surname">Surname</label>
    <input type="text" class="form-control" id="surname" placeholder="Surname">
  </div>
</div>
<div class="form-group">
  <label for="studentID">Номер студенческого билета</label>
  <input type="text" class="form-control" id="studentID" placeholder="123456">
</div>
<button type="button" class="btn btn-success plus pull-right">Add..</button>
<button type="button" class="btn send-json btn-primary">Submit</button>
</form>
