
    <div class="container">
        <nav class="navbar navbar-expand-md d-flex justify-content-end sticky-top mt-4 navbar-dark bg-dark">
            <img src="https://www.michigan.gov/images/som/SOMicon_Education_521974_7.png" alt="logo" class="navbar-brand" width="70px" height="70px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-md-6 m-auto" id="navbarSupportedContent">
                 <ul class="navbar-nav visible-xs">
                  <li class="nav-item col-md-auto"><a href="/" class="nav-link bg-transparent"><h3>Список групп</h3></a></li>
                  <li class="nav-item col-md-auto"><a href="#" class="nav-link bg-transparent"><h3>Расписание</h3></a></li>
                  <li class="nav-item col-md-auto"><a href="/user" class="nav-link bg-transparent"><h3>Управление аккаунтами</h3></a></li>
                  <li class="nav-item col-md-auto border border-light"><a href="/session" class="nav-link bg-transparent"><h3>Другое?</h3></a></li>
                 </ul>
            </div>
        </nav>
        <nav class="navbar col-sm-3 hidden-xs sticky-top p-auto mt-4 navbar-dark bg-dark">
          <ul class="nav flex-column">
            <li class="nav-item"><a href="/" class="nav-link">
                Список групп
              </a></li>
            <li class="nav-item"><a href="#" class="nav-link">
                Расписание
              </a></li>
            <li class="nav-item"><a href="/user" class="nav-link">
                Управление аккаунтами
              </a></li>
            <li class="nav-item"><a href="#" class="nav-link">
                Другое?
              </a></li>
          </ul>
        </nav>

        <div class="col-sm-8 mr-1 mt-4 pb-2 pull-right bg-light border border-primary">
          <%- include('groupAddTab.ejs') %>
          <!--<ul class="nav nav-tabs border-bottom border-primary" id="myTab" role="tablist">
            <li class="nav-item active">
              <a class="nav-link" id="create-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Создание группы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="groups-list-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="groups-list" aria-selected="false">Список групп</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
            </li>
          </ul>

          <div class="tab-content " id="myTabContent">
            <div class="tab-pane fade active in" id="home" role="tabpanel" aria-labelledby="home-tab">
              <%- include('groupAddTab.ejs') %>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="groups-list-tab">
              <form>
                <table class="table form-group" id="table">
                  <thead>
                    <tr>
                      <th scope="col">1</th>
                      <th scope="col">2</th>
                      <th scope="col">3</th>
                      <th scope="col">4</th>  
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>
                        <button type="button" class="btn btn-light" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true"  data-content='<%- include('pop.ejs')%>'>
                        Popover on top
                        </button>
                      </td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td><span class="btn btn-danger minus pull-center">&ndash;</span></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>
                        <button type="button" class="btn btn-light" data-container="body" data-toggle="popover" data-placement="top" data-html="true"  data-content='<%- include('pop.ejs')%>'>
                          Popover on top
                        </button>
                      </td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td><span class="btn btn-danger minus pull-center">&ndash;</span></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                      <td><span class="btn btn-danger minus pull-center">&ndash;</span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="form-group">
                  <label for="gNum">Курс</label>
                  <select id="gNum" class="form-control">
                      <option selected>1</option>
                      <option >2</option>
                      <option >3</option>
                      <option >4</option>
                  </select> 
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">Номер группы</label>
                    <input type="text" class="form-control" id="name" placeholder="Name">
                  </div>
                </div>
                <button type="button" class="btn btn-success plus pull-right">Add..</button>
                <button type="button" class="btn send-json btn-primary">Submit</button>
                </form>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>-->
        </div>
        <footer class="footer fixed-bottom bg-dark">
              <div class="container">
                  <span class="text-muted">Place sticky footer content here.</span>
              </div>
        </footer>
    </div>
    <script>
      var $ = jQuery.noConflict();
      var groups;
      // формируем новые поля
      $('.plus').click(function(){
        let lastNumber;
        if($('#table tbody tr').length == 0) lastNumber = 0;
        else lastNumber = parseInt($('#table').find('tbody').find('th').last().text())+1;
        $('.table').append(
          '<tr>' +
            '<th>'+ lastNumber +'</th>' +
            '<td>'+$("#name").val()+'</td>' +
            '<td>'+$("#surname").val()+'</td>' +
            '<td>'+$("#studentID").val()+'</td>' +
            '<td><span class="btn btn-danger minus pull-center">&ndash;</span></td>' +
          '</tr>'
          );
          $("#name").val('');
          $("#surname").val('');
          $("#studentID").val('');
      });

      $(document).ready(function(){
        $.get( "/groups/list", function( data, err ) {
          groups = data;
          data.forEach(function(item, i){
            $('#gNum').append('<option>'+item.gNum+'</option>');
          });
        });
      });

      $('#gNum').change(function(){
        $("#table tbody tr").remove();
        let table;
        let lastNumber = 0;
        groups.find(function(item, i){
          if(item.gNum==$('#gNum').val()) table = JSON.parse(item.content);
        });
        table.forEach(function(item){
          $('.table').append(
          '<tr>' +
            '<th>'+ lastNumber++ +'</th>' +
            '<td>'+item.name+'</td>' +
            '<td>'+item.surname+'</td>' +
            '<td>'+item.studentID+'</td>' +
            '<td><span class="btn btn-danger minus pull-center">&ndash;</span></td>' +
          '</tr>'
          );
        });
      });
      $("#createGroup").change(function(){
        $('#gNumInput').removeClass('hide');
        $('#gNum').addClass('hide');
      });
      $("#upgradeGroup").change(function(){
        $('#gNum').removeClass('hide');
        $('#gNumInput').addClass('hide');
      });
      // on - так как элемент динамически создан и обычный обработчик с ним не работает
      $(document).on('click', '.minus', function(){
        $( this ).closest( 'tr' ).remove(); // удаление строки с полями
      });
      $(document).on('click', '.btn-secondary', function(){
        alert('lol'); // удаление строки с полями
      });

      $(function () {
        $('[data-toggle="popover"]').popover();
        $('.popover-dismiss').popover({
          trigger: 'focus'
        });
      });
      
      $('.send-json').click(function(){
        var content = [];
        $("#table tbody tr").each(function(){
              content.push({
                name:this.cells[1].innerText,
                surname:this.cells[2].innerText,
                studentID:this.cells[3].innerText,
              });
          });
         $.get("/csrfToken", function (data, jwres) {
            if (jwres != 'success') { return false; }
            msg = {
              some_data: {gNum:$("#gNum").val(), content:JSON.stringify(content)},
              _csrf: data._csrf
            };
            $.post("/groups/create", msg, function(data, status){});
          });
      });
</script>
