<%- include('../layouts/nav.ejs')%>
<div class="container">
  <%- include('../layouts/navBlock.ejs') %>
  <div class="col-md-8 d-inline-block sticky-top mr-1 my-4 pb-2 float-right bg-light ">
        <%- include('groupAddTab.ejs') %>
  </div>
</div>
<footer class="footer fixed-bottom bg-dark mt-4">
      <div class="container">
          <span class="text-muted">Place sticky footer content here.</span>
      </div>
</footer>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Ошибка!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><h4>Номер новой группы не может совпадать с номером уже существующей группы</h4></p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary"  data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
<script>
  var $ = jQuery.noConflict();
  var groups;
  
  $(document).ready(function(){
    $.get( "/groups/list", function( data, err ) {
      groups = data;
      data.forEach(function(item, i){
        $('#gNum').append('<option>'+item.gNum+'</option>');
      });
      initTable();
    });
  });

  // формируем новые поля
  $('.plus').click(function(){
    let lastNumber;
    if($('#table tbody tr').length == 0) lastNumber = 0;
    else lastNumber = parseInt($('#table').find('tbody').find('th').last().text())+1;
    $('.table').append(
      '<tr>' +
        '<th>'+ lastNumber +'</th>' +
        '<td>'+$("#name").val()+'</td>' +
        '<td>'+$("#surname").val()+'</td>' +
        '<td>'+$("#studentID").val()+'</td>' +
        '<td><span class="btn btn-danger minus pull-center">&ndash;</span></td>' +
      '</tr>'
      );
      $("#name").val('');
      $("#surname").val('');
      $("#studentID").val('');
  });
  
  $('#gNum').change(function(){
    initTable();
  });
  $("#createGroup").change(function(){
    $('#gNumInput').removeClass('d-none');
    $('#gNum').addClass('d-none');
  });
  $("#upgradeGroup").change(function(){
    $('#gNum').removeClass('d-none');
    $('#gNumInput').addClass('d-none');
  });
  // on - так как элемент динамически создан и обычный обработчик с ним не работает
  $(document).on('click', '.minus', function(){
    $( this ).closest( 'tr' ).remove(); // удаление строки с полями
  });

  $(function () {
    $('[data-toggle="popover"]').popover();
    $('.popover-dismiss').popover({
      trigger: 'focus'
    });
  });
  
  $('.send-json').click(function(){
    var content = [];
    $("#table tbody tr").each(function(){
          content.push({
            name:this.cells[1].innerText,
            surname:this.cells[2].innerText,
            studentID:this.cells[3].innerText,
          });
      });
     $.get("/csrfToken", function (data, jwres) {
        if (jwres != 'success') { return false; }
        msg = {
          some_data: {gNum:$("#gNum").val(), content:JSON.stringify(content)},
          _csrf: data._csrf
        };
        $.post("/groups/create", msg, function(data, status){});
      });
  });
  function initTable(){
    $("#table tbody tr").remove();
    let table;
    let lastNumber = 0;
    groups.find(function(item, i){
      if(item.gNum==document.getElementById('gNum').options[document.getElementById('gNum').selectedIndex].value) table = JSON.parse(item.content);
    });
    let tableRow = document.createElement('tr');
    let th = tableRow.appendChild(document.createElement('th'));
    tableRow.appendChild(document.createElement('td'));
    tableRow.appendChild(document.createElement('td'));
    tableRow.appendChild(document.createElement('td'));
    table.forEach(function(item){
      
      $('.table').append(
      '<tr>' +
        '<th>'+ lastNumber++ +'</th>' +
        '<td>'+item.name+'</td>' +
        '<td>'+item.surname+'</td>' +
        '<td>'+item.studentID+'</td>' +
        '<td><span class="btn btn-danger minus pull-center">&ndash;</span></td>' +
      '</tr>'
      );
    });
    
  }
  document.getElementById('gNumInput').addEventListener("change",function(val){
    if(groups.indexOf(val.target.value) != -1){
      val.target.value='';
      $('#exampleModal').modal('toggle');
    } 
  });
</script>
