
    <div class="container">
        <nav class="navbar navbar-expand-md d-flex justify-content-end sticky-top mt-4 navbar-dark bg-dark">
            <img src="https://www.michigan.gov/images/som/SOMicon_Education_521974_7.png" alt="logo" class="navbar-brand" width="70px" height="70px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-md-6 m-auto" id="navbarSupportedContent">
                 <ul class="navbar-nav visible-xs">
                  <li class="nav-item col-md-auto"><a href="#" class="nav-link bg-transparent"><h3>Список групп</h3></a></li>
                  <li class="nav-item col-md-auto"><a href="#" class="nav-link bg-transparent"><h3>Расписание</h3></a></li>
                  <li class="nav-item col-md-auto"><a href="#" class="nav-link bg-transparent"><h3>Управление аккаунтами</h3></a></li>
                  <li class="nav-item col-md-auto border border-light"><a href="/session" class="nav-link bg-transparent"><h3>Другое?</h3></a></li>
                 </ul>
            </div>
        </nav>
        <nav class="navbar col-sm-3 hidden-xs sticky-top p-auto mt-4 navbar-dark bg-dark">
          <ul class="nav flex-column">
            <li class="nav-item"><a href="#" class="nav-link">
                Список групп
              </a></li>
            <li class="nav-item"><a href="#" class="nav-link">
                Расписание
              </a></li>
            <li class="nav-item"><a href="#" class="nav-link">
                Управление аккаунтами
              </a></li>
            <li class="nav-item"><a href="#" class="nav-link">
                Другое?
              </a></li>
          </ul>
        </nav>

        <div class="col-sm-8 mr-1 mt-4 pb-2 pull-right bg-light border border-primary">
          <ul class="nav nav-tabs border-bottom border-primary" id="myTab" role="tablist">
            <li class="nav-item active">
              <a class="nav-link" id="create-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Создание группы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="groups-list-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="groups-list" aria-selected="false">Список групп</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
            </li>
          </ul>
          <div class="tab-content " id="myTabContent">
            <div class="tab-pane fade active in" id="home" role="tabpanel" aria-labelledby="home-tab">
              <form action="/groups/create" method="POST">
                <div class="form-group">
                  <label for="gNum">Номер группы</label>
                  <select id="inputState" class="form-control">
                      <option selected>Choose...</option>
                    </select>
                </div>
                <table class="table" id="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Имя</th>
                      <th scope="col">Фамилия</th>
                      <th scope="col">Username</th>
                      <th scope="col">Действия</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td><span class="btn btn-danger minus pull-center">&ndash;</span></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                      <td><span class="btn btn-danger minus pull-center">&ndash;</span></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                      <td><span class="btn btn-danger minus pull-center">&ndash;</span></td>
                    </tr>
                  </tbody>
                </table>
                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="surname">Surname</label>
                      <input type="text" class="form-control" id="surname" placeholder="Surname">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="studentID">Номер студенческого билета</label>
                    <input type="text" class="form-control" id="studentID" placeholder="123456">
                  </div>
                  <button type="button" class="btn btn-success plus pull-right">Add..</button>
                  <button type="submit" class="btn send-json btn-primary">Submit</button>
                </form>
              </form>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="groups-list-tab">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni maiores blanditiis error, amet vel, fugit molestias eaque incidunt nobis, voluptatem dicta quam perferendis. Velit, dolore, non tenetur sapiente itaque iste maiores, fugit placeat labore dolores ipsam quasi corrupti nemo beatae laudantium impedit laborum temporibus! Vitae ipsa, distinctio dolore, libero reiciendis incidunt labore sint ipsam. Dolorum perspiciatis voluptate, sequi est autem eveniet, expedita commodi maiores voluptatum necessitatibus. Optio in, dicta minima ut nisi neque, consequuntur illum suscipit repellendus expedita unde veritatis, eos harum quod sequi. Rem repudiandae earum a magni distinctio porro, ipsum impedit. Fuga dolorum possimus laboriosam exercitationem ipsum, alias quis quaerat omnis cupiditate quae eum non dolorem earum. Dignissimos commodi id fuga assumenda quae corporis consequatur pariatur quas ab, quod, accusamus maiores fugit! Quasi ad excepturi explicabo veritatis iusto deleniti reiciendis repellendus, odit esse totam vero qui magni quos nobis, aut minima molestias unde facilis non architecto accusantium voluptate quam culpa error soluta. Quod ratione consequatur atque voluptas rerum laudantium, deleniti molestiae nisi repellat dignissimos culpa distinctio. Aspernatur repellendus odio rem molestiae veritatis in, ipsam modi sit voluptas at consequatur error corporis id incidunt. Itaque hic iste, quam, cupiditate dignissimos facilis nostrum consequatur sunt accusamus eos, ducimus perferendis commodi.</p>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>
        </div>
        <footer class="footer fixed-bottom bg-dark">
              <div class="container">
                  <span class="text-muted">Place sticky footer content here.</span>
              </div>
        </footer>
    </div>
    <script>
      // формируем новые поля
      $('.plus').click(function(){
        let lastNumber = parseInt($('#table').find('tbody').find('th').last().text())+1;
        $('.table').append(
        '<tr>' +
          '<th>'+ lastNumber +'</th>' +
          '<td>'+$("#name").val()+'</td>' +
          '<td>'+$("#surname").val()+'</td>' +
          '<td>'+$("#studentID").val()+'</td>' +
          '<td><span class="btn btn-danger minus pull-center">&ndash;</span></td>' +
        '</tr>'
        );
        $("#name").val('');
        $("#surname").val('');
        $("#studentID").val('');
      });
      // on - так как элемент динамически создан и обычный обработчик с ним не работает
      $(document).on('click', '.minus', function(){
        $( this ).closest( 'tr' ).remove(); // удаление строки с полями
      });
      /*$('.send-json').click(function(){
        $.post( "/groups/create", { gNum: "John", content: "ghfgf" } );
      });*/
  </script>