<%- include('../layouts/nav.ejs')%>
<div class="container">
  <%- include('../layouts/navBlock.ejs') %>
  <div class="col-md-8 d-inline-block sticky-top mr-1 my-4 pb-2 float-right bg-light ">
        <%- include('groupAddTab.ejs') %>
  </div>
</div>
<footer class="footer fixed-bottom bg-dark mt-4">
      <div class="container">
          <span class="text-muted">Place sticky footer content here.</span>
      </div>
</footer>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Ошибка!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p><h4>Номер новой группы не может совпадать с номером уже существующей группы</h4></p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary"  data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
<script>
  var $ = jQuery.noConflict();
  var groups;
  document.addEventListener("DOMContentLoaded", function(event) {
    /*$.get("/csrfToken", function (data, jwres) {
      if (jwres != 'success') { return false; }
      document.cookie = 'lol='+data._csrf;
    }); */
    // Обработка евентов
    document.getElementById('gNum').addEventListener('change', function(){
      initTable();
    });
    document.getElementById('createGroup').addEventListener('change', function(){
      clearTable();
      document.getElementById('send-json').classList.remove("d-none");
      document.getElementById('gNum').classList.add("d-none");
      document.getElementById('gNumInput').classList.remove("d-none");
    });
    document.getElementById('upgradeGroup').addEventListener('change', function(){
      initTable();
      document.getElementById('send-json').classList.add("d-none");
      document.getElementById('gNum').classList.remove("d-none");
      document.getElementById('gNumInput').classList.add("d-none");
    });
    /*
    *       Отправка новой группы на сервер
    */
    document.getElementById('send-json').addEventListener('click',function(){
      var content = [];
      if(document.getElementById('gNumInput').value == ""){
        alert('Введите номер группы!');
        return;
      } 
      for(let tr of document.getElementsByTagName('tbody')[0].getElementsByTagName('tr')){
        content.push({
          name:tr.children[1].textContent,
          surname:tr.children[2].textContent,
          studentID:tr.children[3].textContent,
        });
      }
      $.get("/csrfToken", function (data, jwres) {
        if (jwres != 'success') { return false; }
        msg = {
          some_data: {
            gNum:document.getElementById('gNumInput').value,
            content:JSON.stringify(content)
          },
          _csrf: data._csrf
        };
        $.post("/groups/create", msg, function(data, status){});
      });
    });
  });
  $(document).ready(function(){
    $.get( "/groups/list", function( data, err ) {
      groups = data;
      data.forEach(function(item, i){
        $('#gNum').append('<option>'+item.gNum+'</option>');
      });
      initTable();
    });
  });

  // формируем новые поля
  $('.plus').click(function(){
    let lastNumber;
    if($('#table tbody tr').length == 0) lastNumber = 0;
    else lastNumber = parseInt($('#table').find('tbody').find('th').last().text())+1;
    $('.table').append(
      '<tr>' +
        '<th>'+ lastNumber +'</th>' +
        '<td>'+$("#name").val()+'</td>' +
        '<td>'+$("#surname").val()+'</td>' +
        '<td>'+$("#studentID").val()+'</td>' +
        '<td class="d-none d-sm-block"><span class="btn btn-danger minus pull-center" id="minus">&ndash;</span></td>' +
      '</tr>'
      );
      $("#name").val('');
      $("#surname").val('');
      $("#studentID").val('');
  });
  
  
  
  
  function initTable(){
    clearTable();
    let table;
    let lastNumber = 0;
    groups.find(function(item, i){
      if(item.gNum==document.getElementById('gNum').options[document.getElementById('gNum').selectedIndex].value) table = JSON.parse(item.content);
    });
    let tableRow = document.createElement('tr');
    let th = tableRow.appendChild(document.createElement('th'));
    tableRow.appendChild(document.createElement('td'));
    tableRow.appendChild(document.createElement('td'));
    tableRow.appendChild(document.createElement('td'));
    table.forEach(function(item){
      $('.table').append(
      '<tr>' +
        '<th>'+ lastNumber++ +'</th>' +
        '<td>'+item.name+'</td>' +
        '<td>'+item.surname+'</td>' +
        '<td>'+item.studentID+'</td>' +
        '<td class="d-none d-sm-block"><span class="btn btn-danger minus pull-center">&ndash;</span></td>' +
      '</tr>'
      );
    });
    for(let tr of document.getElementsByTagName('tbody')[0].getElementsByTagName('tr')){
      let start;
      tr.addEventListener("touchstart", handleStart, false);
      tr.addEventListener("touchend", handleEnd, false);
      function handleStart(evt) {
        start = new Date();
      };
      function handleEnd(evt) {
        if(new Date()-start > 500) $('#exampleModal').modal('toggle');
      };
    }
    for(let td of document.getElementsByClassName('minus')){
      td.addEventListener('click', function(){
        if(this.parentElement.parentElement.parentElement.lastElementChild == this.parentElement.parentElement){
          delRow(this.parentElement.parentElement.rowIndex-1);
          this.parentElement.parentElement.remove();
          
        }
        else{
          let el = this.parentElement.parentElement.nextSibling;
          delRow(this.parentElement.parentElement.rowIndex-1);
          this.parentElement.parentElement.remove()
          el.children[0].textContent = (parseInt(el.children[0].textContent)-1)
          while(el=el.nextSibling){
            el.children[0].textContent = (parseInt(el.children[0].textContent)-1)
          } 
        }
      });
    };
  }
  document.getElementById('gNumInput').addEventListener("change",function(val){
    if(groups.filter(item=>{return (item.gNum==val.target.value)}).length != 0){
      val.target.value='';
      //alert('Номер новой группы не может совпадать с номером уже существующей группы');
      $('#exampleModal').modal('toggle');
    } 
  });

  function clearTable(){
    document.getElementsByTagName('tbody')[0].innerHTML = ""
  }

  function delRow(index){
    $.get("/csrfToken", function (data, jwres) {
      if (jwres != 'success') { return false; }
      msg = {
        index: index,
        gNum:document.getElementById('gNum').selectedIndex,
        _csrf: data._csrf
      };
      $.post("/groups/deleteElement", msg, function(data, status){});
    });
  }
</script>
