<%- include('../layouts/nav.ejs') %>
<div class="container">
<%- include('../layouts/navBlock.ejs') %>
  <div class="col-md-8 d-inline-block mr-1 mt-4 pb-2 float-right bg-light">
    <select class="form-control mt-2 groupSelect" id="groupSelect">
    </select>
    <div class="row">
    </div>
    <div class="row">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <select class="form-control" id="userSelect">
              
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary modal-save">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer fixed-bottom bg-dark">
      <div class="container">
          <span class="text-muted">Place sticky footer content here.</span>
      </div>
</footer>
    <script >
      var $ = jQuery.noConflict();
      var trdata = [];
      var cellIndex;
      var rowIndex;
      var data;
      var week = ['Понедельник','Вторник','Среда','Четверг','Пятница','Суббота'];
      var tab = [];
      fetch('/user/list')
        .then(response => response.json())
        .then(data => {
          data.forEach(item => {
            let option = document.createElement('option');
            option.innerHTML = item.name + ' ' + item.surname;
            document.getElementById('userSelect').appendChild(option)
          });
        });
      fetch('/groups/list')
        .then(response => response.json())
        .then(data => {
          tablesInit(data[0].gNum);
          data.forEach(item => {
            let option = document.createElement('option');
            option.innerHTML = item.gNum;
            document.getElementById('groupSelect').appendChild(option)
          });
          
        });
      /*
      *    Обработка кнопки SAVE модального окна
      */
      $('.modal-save').click(function(){
        let element = document.getElementsByTagName('table')[week.indexOf(cellIndex)].getElementsByTagName('tbody')[0].getElementsByTagName('td')[rowIndex-1];
        let height = element.offsetHeight;
        element.innerHTML = '<h4>'+document.getElementById('userSelect').value+'</h4>';
        element.style.height = height + 'px';
        $('#exampleModal').modal('hide');
        if(!tab[0]){
          tab.length = 6;
          for(var i = 0; i < 6; i++){
            tab[i] = [];
            tab[i].length = 6;
          }
        }
        tab[week.indexOf(cellIndex)][rowIndex-1]={username:element.textContent};
        update();
      });
      /*
      *   UPDATE TABLE ROW
      */
      function update(){
        fetch('/csrfToken')
          .then(response => response.json())
          .then(res => {
            msg = {
              data: 
                {
                  gNum:document.getElementById('groupSelect').value,
                  content:JSON.stringify(tab),
                },
              _csrf: res._csrf
            };
            fetch('/edu/update',{
              method:'POST',
              body:JSON.stringify(msg),
            })
              .then(res => res.ok?'Ok':'Err')
              .then(answer => console.log(answer))
              .catch(res => console.log(response))
          })
      }
      /*
      *    Обработка кнопки "+" некоторой таблицы
      */
      $(document).on('click', 'button[data-toggle="modal"]', function (event) {
        var button = $(event.target);
        //table name
        cellIndex = button.parents('#table').find('thead tr th').text();
        $('.modal-title').text(cellIndex);
        //row index
        rowIndex = button.parents('tr')["0"].rowIndex;
      });
      function plusPress(el){
        rowIndex = el;
      };
      /*
      *      #groupselect option changed event 
      */
      document.getElementById('groupSelect').addEventListener("change", function(){
        tab = [];
        tablesInit(document.getElementById('groupSelect').value);
      });
      /*
      *      обновление при открытии
      */
      function tablesInit(i){
        document.getElementsByClassName('row')[0].innerHTML = '';
        document.getElementsByClassName('row')[1].innerHTML = '';
        fetch('/edu/list/'+i)
          .then(response=>response.json())
          .then(data => {
            tab = data;
            console.log(data)
            data.forEach(function(item, i){
              let row = i<3?0:1;
              document.getElementsByClassName('row')[row].innerHTML = 
                document.getElementsByClassName('row')[row].innerHTML + 
                `<table class="table form-group col m-2" id="table">
                  <thead>
                    <tr>
                      <th  class="float-center" scope="col">`+week[i]+`</th>
                    </tr>
                  </thead>
                  <tbody>`+tds(item)+`</tbody>
                </table>`;
            });
          })
          .catch(err=>console.log(err))
      }
      function tds(item){
        var tds = '';
        for(let i=0; i < 6; i++){
          if(item){
            if(item[i]) {
              tds+=trsPattern(item[i].username);
            }else tds+=trsPattern();
          }else tds+=trsPattern();
        }
        return tds;
      };
      function tablePattern(){

      };
      function trsPattern(cont){
        cont = typeof cont !== 'undefined' ?  '<h4>'+cont+'</h4>' : `<button name="plus" type="button" class="col btn btn-success" data-toggle="modal" onclick="plusPress(this)" data-target="#exampleModal">
                <i class="fas fa-plus"></i>
              </button>`;
        return `<tr class="d-flex justify-content-center">
            <td class="col p-0" style="height: 39px;">
              `+cont+`
            </td>
          </tr>`;
      };
</script>
